@media screen and (max-width: 600px) {
    #content.about {
        .about {
            margin: 1rem!important;
        }
    }
}

body {
    #content.about {
        font-family: 'Ampersand', 'Yport', sans-serif;

        .about {
            h1 {
                font-family: YPort;
                font-size: 2rem;
                margin-top: 2rem;
            }

            > div {

                .about-info {
                    scroll-snap-align: start;
                    min-height: calc(100vh - var(--nudge-height));
                    padding-top: 1rem;

                    & > * {
                        margin: 1rem;
                    }

                    & > p {
                        margin: 1rem 3rem;
                        font-weight: 100;
                    }
                }
            }
        }
    }
}
