@media screen and (max-width: 600px) {
    #content.about {
        .about {
            margin: 1rem!important;
        }
    }
}

body {
    #content.about {
        font-family: 'Ampersand', 'Yport', sans-serif;

        .about {
            h1 {
                font-family: YPort;
                font-size: 2rem;
                margin-top: 2rem;
            }

            > div {
                display: flex;

                .about-pic, .about-info {
                    width: 50%;
                }

                .about-info {
                    & > * {
                        margin: 1rem;
                    }

                    & > p {
                        margin: 1rem 3rem;
                        font-weight: 100;
                    }
                }
            }
        }
    }
}
