.outer-shell {
    display: flex;

    > div {
        &:last-child {
            flex-grow: 1;
        }
    }
}

.menu-part {
    border-right: 1px solid white;
    padding: 0 1rem;
    padding-top: 1rem;
    transition: flex-grow 1s ease;
    flex-grow: 0;

    .menu-content {
        display: none;
    }

    &.open {
        flex-grow: 1;
        .menu-content {
            visibility: visible;
            display: initial;
        }
    }
}

.shell-content {
    min-height: 100vh;
}

.nav-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 0.5rem;
    padding-right: 1rem;
    padding-top: 1.5rem;

    .who-are-you {
        font-feature-settings: "ss01";
        font-family: Casta;
        font-size: 2rem;
    }

    #cart-icon {
        svg {
            fill: #f0dca9;
        }
    }
}
