@import './variables.scss';

@media screen and (max-width: 600px) {
    .page-content {
        margin-left: 0!important;
        border-left: none!important;
    }

    .nav-part {
        .who-are-you {
            margin-left: 4rem;
        }
    }

    .shell-content.index {
        .special-divider {
            display: none;
        }

        div.logo {
            display: none;
        }
    }
}

.outer-shell {
    // display: flex;
    // min-height: 100vh;

    & > div {
        &:last-child {
            flex-grow: 1;
        }
    }

    &.menu-open {
        .special-divider {
            display: none;
        }
    }

    .page-content {
        height: 100vh;
        border-left: $stroke-width solid;
        margin-left: 4rem;
        // min-height: calc(100vh + 5rem);
    }
}

.hamburger {
    cursor: pointer;
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 48px;
    height: 48px;
    transition: all 0.25s;
    // filter: drop-shadow(2px 4px 6px black);

    &.open {
        .hamburger__top-bun {
            transform: rotate(45deg) translateY(8px);
        }
        .hamburger__middle-bun {
            display: none;
        }
        .hamburger__bottom-bun {
            transform: rotate(-45deg) translate(-8px, 0px);
        }

        .hamburger__top-bun,
        .hamburger__middle-bun,
        .hamburger__bottom-bun {
            background: black;
        }
    }
}

.hamburger__top-bun,
.hamburger__middle-bun,
.hamburger__bottom-bun {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: $stroke-width;
    background: $main-color;
    transform: rotate(0);
    transition: all 0.25s;
}

.hamburger:hover [class*="-bun"] {
    background: #999;
}

.hamburger__top-bun {
    transform: translateY(8px);
}

.hamburger__middle-bun {
    transform: translateY(16px);
}

.hamburger__bottom-bun {
    transform: translateY(24px);
}

.menu-part {
    // border-right: $stroke-width solid $main-color;
    padding: 0 1rem;
    padding-top: 1rem;
    transition: all 1s ease;
    flex-grow: 0;
    min-width: 2rem;
    width: 2rem;
    max-width: 2rem;

    z-index: 2;
    position: fixed;
    // height: 100vh;
    height: calc(100vh - 1rem);

    .menu-content {
        display: none;
    }

    &.open {
        padding: 0;
        flex-grow: 1;
        min-width: 100%;
        width: 100%;
        background: #E8E1D7;
        height: 102%;

        & > div:first-child {
            padding: 1rem;
        }

        .menu-content {
            visibility: visible;
            display: block;
            list-style: none;
            padding: 0;

            li {
                // border-top: $stroke-width solid $main-color;
                // border-bottom: none;
                text-align: center;
                a {
                    color: black;
                    filter: none;
                }

                &.active {
                    a {
                        &::before {
                            content: "●\00A0";
                        }
                    }
                }

                a {
                    display: block;
                    padding: 1rem;

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}

.nav-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: $stroke-width solid;
    padding: 0.5rem;
    padding-right: 1rem;
    min-height: 4rem;

    .who-are-you {
        // this is for back when we had words here, not image
        // font-feature-settings: "ss01";
        // font-family: Casta;
        // font-size: 2rem;
        max-width: 11rem;
        max-height: 4rem;

        a {
            display: block;
            // &:hover {
            //     img {
            //         filter: opacity(0.6);
            //     }
            // }
        }

        img {
            max-width: 100%;
        }
    }

    #cart-icon {
        #cart-quantity {
            bottom: 17px;
            left: 29px;
            font-weight: 100;
            font-size: 0.9rem;
        }
        svg {
            fill: $main-color;
            width: 2.5rem;
        }
    }
}

.product-list {
    ul {
        li {
            padding: 0;
            border-bottom: none;
        }
    }
}
