@import './variables.scss';

@media screen and (max-width: 600px) {
    .modal-nav-window {
        .the-modal-menu {
            margin-top: 1rem;

            li {
                list-style: none;
                padding-bottom: 1rem;
                margin-top: 1rem;
                border-bottom: $stroke-width solid;

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    .special-divider {
        display: none;
    }

    .single-product {
        flex-direction: column;

        .single-product-info {
            width: 100%!important;

            li {
                a {
                    display: block;
                }

                &.active {
                    display: block;

                    a {
                        display: inline-block;
                    }

                    > div {
                        display: block;
                    }

                    .cart-controls {
                        display: flex;
                        justify-content: space-between;
                    }

                    .chev {
                        content: " ";
                        width: 20px;
                        height: 20px;
                        background-size: contain;
                        background-image: url(/img/chevron.svg);
                        float: right;
                    }

                    * {
                        display: initial;
                    }

                    li {
                        display: list-item;
                    }
                }
            }
        }

        .single-product-content {
            width: 80%!important;
            margin: 0 auto 2rem!important;
        }
    }
}

.menu-open {
    .special-divider {
        left: 62.5%!important;
    }
}

.single-product {
    display: flex;

    font-family: 'Ampersand', 'Yport', sans-serif;


    svg {
        height: 6rem;
    }

    .item-description {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        .dual-extracted {
            display: block!important;
            margin: 1rem auto 0;
            height: 4rem;
            text-align: center;
            width: 4rem;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    .star-icon, .moon-icon {
        width: 1rem;
        img {
            max-width: 100%;
        }
    }

    .product-list {
        list-style: none;
        padding: 0;
        display: flex!important;
        height: 100%;
        flex-direction: column;
        margin: 0;

        overflow: scroll;
        // 4rem = height of top nav part
        // + 1 rem for padding
        max-height: calc(100vh - 5rem);

        ul {
            padding-left: 1rem;
        }

        li {
            margin: 0;
            padding: 1rem;
            border-bottom: $stroke-width solid;

            a {
                display: block;
                font-size: 1.5rem;
                // font-size: 40px;
            }

            &.active {
                flex-grow: 1;
                flex-direction: column;
                display: flex;
                // font-size: 30px;

                ul {
                    list-style-type: none;

                    li {
                        display: flex;
                        margin-bottom: 1.5rem;

                        &::before {
                            position: relative;
                            bottom: 0px;
                            content: '';
                            display: inline-block;
                            height: 17px;
                            width: 20px;
                            background-size: 17px;
                            background-image: url("/img/star.png");
                            background-repeat: no-repeat;
                            margin-right: 0.5rem;
                        }

                        p {
                            margin: 0 auto 0 0;
                        }
                    }
                }

                a {
                    display: block;
                    margin-bottom: 1rem;
                }
            }
        }

        ul {
            li {
                padding: 0;
                border-bottom: none;
            }
        }

        .bonus-info {
            margin: 0 auto;
            min-width: 16rem;
            border: $stroke-width solid;

            span {
                text-transform: uppercase;
            }

            .bonus-info-tab {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                padding: 1rem;
                &:first-child {
                    border-bottom: $stroke-width solid;
                }

                .moon-icon {
                    position: relative;
                    left: 2%;
                }

                .star-icon {
                    position: relative;
                    right: 3.5%;
                }
            }
        }
    }

    h1 {
        margin-top: 0;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .cart-add {
        border-radius: 7px;
        font-size: 1.2rem;
        padding: 0.2rem 0.8rem;
        background-color: deepskyblue;
        border: none;
        transition: background-color 0.2s;

        &:hover {
            background-color: lighten(deepskyblue, 30%);
        }
    }

    .cart-controls {
        margin-top: 2rem;
        padding: 1rem;
        border-top: $stroke-width solid;
        border-bottom: $stroke-width solid;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .single-product-info {
        width: 50%;
        transition: all 1s;

        li.active {
            ul {
                li {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .single-product-content {
        width: 50%;
        max-height: calc(100vh - 5rem);

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
