@import './variables.scss';

@media screen and (max-width: 600px) {
    .modal-nav-window {
        .the-modal-menu {
            margin-top: 1rem;

            li {
                list-style: none;
                padding-bottom: 1rem;
                margin-top: 1rem;
                border-bottom: 1px solid;

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    .single-product {
        flex-direction: column;

        .single-product-info {
            width: 100%!important;

            li {
                display: none;

                a {
                    display: block;
                }

                &.active {
                    display: block;

                    a {
                        display: inline-block;
                    }

                    > div {
                        display: block;

                        ul {
                            display: block;
                        }
                    }

                    .cart-controls {
                        display: flex;
                        justify-content: space-between;
                    }

                    .chev {
                        content: " ";
                        width: 20px;
                        height: 20px;
                        background-size: contain;
                        background-image: url(/img/chevron.svg);
                        float: right;
                    }

                    * {
                        display: initial;
                    }

                    li {
                        display: list-item;
                    }
                }
            }
        }

        .single-product-content {
            width: 80%!important;
            margin: 0 auto 2rem!important;
        }
    }
}

.single-product {
    display: flex;

    .product-list {
        margin: 0;

        > li {
            margin: 0;
        }

        .bonus-info {
            margin: 0 auto;
            min-width: 20rem;
            border: 1px solid;

            span {
                text-transform: uppercase;
            }

            .bonus-info-tab {
                display: flex;
                justify-content: space-between;
                padding: 1rem;
                &:first-child {
                    border-bottom: 1px solid;
                }
            }
        }
    }

    h1 {
        margin-top: 0;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .cart-add {
        border-radius: 7px;
        font-size: 1.2rem;
        padding: 0.2rem 0.8rem;
        background-color: deepskyblue;
        border: none;
        transition: background-color 0.2s;

        &:hover {
            background-color: lighten(deepskyblue, 30%);
        }
    }

    .cart-controls {
        margin-top: 2rem;
        padding: 1rem;
        border-top: 1px solid;
        border-bottom: 1px solid;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .single-product-info {
        width: 50%;

        li.active {
            ul {
                li {
                    margin-bottom: 0.5rem;
                }
            }
        }

    }

    .single-product-content {
        width: 50%;
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
