@use '../../node_modules/@nichoth/shopping-cart/src/style/main.scss';
@use './shell.scss';
@use './products.scss';
@use './single-product.scss';
@use './about.scss';
@use './cart.scss';

// @use './variables.scss';
@import './variables.scss';

@keyframes spinner {
    to { transform: rotate(360deg); }
}

// this is for the main text in product pages
@font-face {
    font-family: YPort;
    src: url("font/YportTrial-Book.otf") format("opentype");
}

@font-face {
    font-family: Casta;
    src: url("/Casta-Regular.otf") format("opentype");
}


@font-face {
  font-family: 'Ampersand';
  src: local('Gill Sans Light');
  font-weight: 100;
  unicode-range: U+0020 - 0029;  // dollar sign, ampersand
}

@media screen and (max-width: 600px) {
    body {
        .shell-content {
            &.index {
                flex-direction: column!important;
            }

            .left-part {
                min-height: calc(100vh - var(--nudge-height));
                width: 100%!important;
            }

            p {
                width: initial!important;
                height: calc(100vh - 7rem);
            }
        }

    }
}

body {
    margin: 0;
    color: $main-color;
    font-variant-ligatures: common-ligatures;
    background-color: black;
    // font-family: 'Work Sans', sans-serif;
    font-family: 'Ampersand', 'Yport', sans-serif;
    background-size: cover;

    background: url(/img/myco-bg.jpeg) no-repeat center center fixed; 
    background-size: cover;
    background-color: black;
    backdrop-filter: brightness(0.5);


    .special-divider {
        transition: all 1s;
        // height: calc(100vh + 5rem);
        height: 100vh;
        border: none;
        border-left: $stroke-width solid;
        position: absolute;
        left: calc(50% + 2rem);
        top: 0;
        margin: 0;
    }

    .shell-content {
        display: flex;
        height: calc(100vh - var(--nudge-height));
        > img {
            object-fit: cover;
            max-width: calc(50vw - 2rem);
            width: calc(50vw - 2rem);
        }

        .left-part {
            width: 50vw;
            height: calc(100vh - 5rem);
            overflow-y: scroll;
            scroll-snap-type: y mandatory;

            .home-text {
                height: 100vh;
                filter: drop-shadow(2px 9px 13px black);
                padding: 2rem;
                background-color: #00000059;
                margin: 0;
                scroll-snap-align: start;
            }

            .single-product {
                scroll-snap-align: start;
            }
        }

        &.index {
            display: flex;
            // flex-direction: row-reverse;
            // flex-direction: column;
            // height: calc(100vh - 4rem);
            // height: 100%;
        }
    }

    &.index {
        .cart-container, .who-are-you {
            display: none;
        }
    }

    &.about {
        backdrop-filter: brightness(0.2);
    }

    .cart-container {
        position: relative;
        top: 4px;
    }

    h1 {
        letter-spacing: 0.1rem;
    }

    p, h1 {
        margin: 0 auto;
        margin-right: 0;
        font-weight: 400;
    }

    h1 {
        font-size: 6rem;
        font-feature-settings: "ss01";
        margin-top: 3rem;
        font-family: Casta;
    }

    h2 {
        font-family: Casta;
        font-feature-settings: "ss01";
    }

    p {
        margin-bottom: 1rem;
    }

    button {
        color: $main-color;
        background: none;
        border: none;
        cursor: pointer;
    }

    a {
        color: $main-color;
        filter: drop-shadow(2px 4px 6px black);
        text-decoration: none;
    }

    #content {
        overflow-y: scroll;
        backdrop-filter: brightness(0.5);
        // min-height: 100vh;

        &.index {
            background-color: transparent;
            backdrop-filter: none;
        }

        &.product-page {
            backdrop-filter: brightness(0.2);
            .left-part {
                padding: 0;
                width: calc(50vw - 2rem);
                // width: 50vw;
                background-color: #000000ad;
            }
        }
    }

    .logo {
        height: 50vh;
        width: 50vw;
        margin: 2rem auto;
        margin-bottom: 2rem;
        margin-top: 15vh;

        img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: 0 auto;
        }
    }

}
