@font-face {
    font-family: Casta;
    src: url("/Casta-Regular.otf") format("opentype");
}

@media screen and (max-width: 1025px) {
    body {
        padding-top: 2vh!important;
        #content {
            margin-left: 0!important;
        }
    }
}

// @media screen and (orientation:landscape) {
//     body {
//         color: pink!important;
//     }
//  }

$main-color: #f0dca9;

body {
    color: $main-color;
    font-variant-ligatures: common-ligatures;
    background-color: black;
    padding-top: 16vh;
    font-family: Casta;
    background: url(/myco.png) no-repeat center center fixed; 
    background-size: cover;

    a {
        color: $main-color;
    }

    #content {
        margin-left: 30vw;

        .main-nav {
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-evenly;

            a {
                text-decoration: none;
                font-family: sans-serif;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    p, h1 {
        letter-spacing: 0.1rem;
        margin: 0 auto;
        margin-right: 0;
        text-align: center;
        font-weight: 400;
    }
    h1 {
        font-size: 6rem;
        font-feature-settings: "ss01";
    }

    p {
        font-size: 2rem;
        margin-top: 0;
    }
}
