body {
    // background-image: url("/myco.png");
    color: #cbc3a7;;
    background-color: black;
    // background-size: cover;
    padding-top: 23vh;
    height: 100vh;

    background: url(/myco.png) no-repeat center center fixed; 
    background-size: cover;

    p, h1 {
        margin: 0 auto;
        margin-right: 0;
        text-align: center;
    }
    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1rem;
        margin-top: 1rem;
    }
}
