.outer-shell {
    display: flex;

    > div {
        &:last-child {
            flex-grow: 1;
        }
    }
}

.menu-part {
    border-right: 1px solid white;
    padding: 0 1rem;
}

.shell-content {
    min-height: 100vh;
}